<style>
#table01 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table#table01 {
        margin-left: auto;
    margin-right: auto;
}

#table01 td, #table01 th {
    border: 1px solid #ddd;
    padding: 8px;
	text-align:center;
}

#table01 tr:nth-child(even){background-color: #f2f2f2;}

#table01 tr:hover {background-color: #ddd;}

#table01 th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #3396FF;
    color: white;
}

input[type=text]
{
	padding:8px;
	display:block;
	border-bottom:1px solid #ccc;
	overflow:visible;
}

input[class=btn] {
    background-color: #3396FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px;
    cursor: pointer;
    opacity: 0.9;
	font-size:large;
}

label{
font-weight:bold;
}

a{
    font-weight: 700;
	font-size:large;
}

form#form1 {
    width: max-content;
	width: -moz-max-content;
	    margin-left: auto;
    margin-right: auto;
	
}

fieldset#regform{
    border: 12px solid #eee;
    border-radius: 15px;
    padding: 30px;
}

ul.myhmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: max-content;
	width: -moz-max-content;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
}

.myhmenu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.myhmenu li a:hover {
    background-color: #555;
    color: white;
}

</style>
