<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    
       <link href="/demo/css/main.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
   
    

  
  
  <br/>
  
  <body>
    <div class="homebtn"  align="center">
      <a href="/demo"><input type="button" class="btn" name="home" value="Home"/></a>
    </div>
    
    <br/>
    <div id="content">
    <ul class="myhmenu">
  <li><b><a href="/demo/signup">SignUp Form</a></b></li>
  <li><b><a href="/demo/webtable">WebTable</a></b></li>
 <li><b><a href="/demo/iframes">iFrames</a></b></li>
 <li><b><a href="/demo/alerts">Alerts</a></b></li>
  <li><b><a href="/demo/links">Links</a></b></li>
  <li><b><a href="/demo/dragndrop">DragnDrop</a></b></li>
  <li><b><a href="/demo/delay">Delay</a></b></li>
</ul> 
    
    
    <form id="form1">
    <fieldset id="regform"><legend><b>[Dummy Controls]</b></legend>
    <div class="container">
      {{ content }}
    </div>
  </fieldset>
      </form>
      
      
        </div>
        
    <footer>  
    </footer>
  </body>
</html>
