<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
     <div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- qavheaderadd2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2906531635031835"
     data-ad-slot="8761565708"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
    
    
  </head>
  
  
<hr/>
  <br/>
  <br/>
 
  
  <body>
    
<div class="container">

  {{ content }}

</div>
  
  <footer>
  
  </footer>
  </body>

</html>
