<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    
       <link href="css/main.css" rel="stylesheet" type="text/css" media="screen, projection"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
   
    
  <div align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- qavheaderadd2 -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-2906531635031835"
    data-ad-slot="8761565708"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </div>
  
  <hr/>
  
  <br/>
  
  <body>
    <div class="homebtn"  align="center">
      <a href="/demo"><input type="button" class="btn" name="home" value="Home"/></a>
    </div>
    
    <br/>
    
    <div class="container">
      {{ content }}
    </div>
  
    <footer>  
    </footer>
  </body>

</html>
